// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}

// headings --------------------------------------------------------------------------------------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
}

// links -----------------------------------------------------------------------------------------------
a {
  color: var(--link-color);
}

// app splash screen -----------------------------------------------------------------------------------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}

// helper classes -----------------------------------------------------------------------------------------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------------------------------------------------------------------------------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root --------------------------------------------------------------------------------------------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------------------------------------------------------------------------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 1em;
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages -------------------------------------------------------------------------------
.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page --------------------------------------------------------------------------------------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}

// poems grid --------------------------------------------------------------------------------------------
.poems-grid{
  display: flex;
  flex-wrap: wrap;
  .poem-card{
    width: calc(33.3% - 1em);
    margin: 0.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

// poems dialog ------------------------------------------------------------------------------------------
.poem-dialog {
  --width: 50%;
}

.poem-dialog::part(body){
  margin-top: -5em;
}

.saveBtn {
  color: #fff4e1;
}

// DROPDOWN BTN ------------------------------------------------------------------------------------------
.dropbtn {
  background-color: white;
  color: black;
  padding: 13px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #f1f1f1;
  width: 700px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 50px; //not working
}

// dropdown links on hover
.dropdown-content a:hover {background-color: #ddd;}

// dropdown menu on hover
.dropdown:hover .dropdown-content {visibility: visible; display: block;}

.row-dropdown-length {
  float: left;
  width: 33.3%;
  text-align: left;
}

.row-dropdown-updates {
  float: left;
  width: 33.3%;
  text-align: left;
}

.row-dropdown-C {
  float: right;
  width: 33.3%;
  text-align: left;
}

/* DROPDOWN LIST ITEMS --------------------------------------------------------------------------------------- */
.length-list {
  align-items: left;
  text-align: left;
  list-style-type: none;
}

.updates-list {
  align-items: left;
  text-align: left;
  list-style-type: none;
}

.C-list {
  align-items: left;
  text-align: left;
  list-style-type: none;
}

/* DROPDOWN FILTER BTNS -------------------------------------------------------------------------------------- */
.apply-filters {
  float: left;
  width: 33.3%;
  text-align: left;
  border: 1px #FEC76C;
  gap: 2em;
}

.reset-filters::part(base) {
  background-color: #FFF4E1;
  margin: none;
}

.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}

/* SEARCH BAR ------------------------------------------------------------------------------------------------ */
.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 50px; //make border radius work
  width: 60%;
  height: 40px;
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.searchIcon {
  padding: 0.7rem;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

.searchButton {
  background: #FEC76C;
  border: 0;
  color: white;
  margin: 2px;
  border-radius: 10px;
}

/* FILTER ICON ------------------------------------------------------------------------------------------------ */
.gg-options {
  margin-top: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 2px;
  box-shadow:
      -3px 4px 0 0,
      3px -4px 0 0
}
.gg-options::after,
.gg-options::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-radius: 100%
}
.gg-options::before {
  top: -7px;
  left: -4px
}
.gg-options::after {
  bottom: -7px;
  right: -4px
}

/* LIBRARY  ------------------------------------------------------------------------------------------------------ */
.library-filter {
  margin-bottom: 20px;
  background-color: #777;
  border-radius: 50px;
  width: 400px;
}

.library-title {
  font-size: 3.5em;
}

/* BEEHIVE ------------------------------------------------------------------------------------------------------ */
.beehive-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.beehive-title {
  margin: 50px;
  font-size: 2.5em;
}

.beehive-add-post-btn::part(base) {
  background-color: #FFF4E1;
}

.beehive-row-1 .beehive-row-2 .beehive-row-3{
  display: flex;
  border-radius: 50px; //not working
  padding: 10px;
  text-align: left; //align text left
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.beehive-search-box {
  border-radius: 50px;
  background-color: white;
  margin: 20px;
  width: 33.3%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* PROFILE  ------------------------------------------------------------------------------------------------------- */
.card-header {
  max-width: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bio {
  text-align: left; /* align to the left not working */
}

.bio-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.create-btn {
  position: relative; /* get to sit to the right of the title */
}

.profile-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 30px;
  text-align: center;
}

.profile-box-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.5em;
}

/* ROSE VIEW --------------------------------------------------------------------------------------------- */
.rose-card-header {
  width: 30%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
}

.rose-card {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 10px;
}

.rose-header {
  margin-top: 10px;
}

.rose-card-text {
  margin: 10px;
}

.add-roses-btn::part(base) {
  margin-top: 80px;
  background-color: #FFF4E1;
}

.rose-icon {
  background-color: #FEC76C;
  border-radius: 50px;
  height: 95px;
  padding: 3px;
}

.rose-card-div {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 50px;
}

/* MESSAGES / INBOX VIEW --------------------------------------------------------------------------------- */
.avatar-messages {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 10px;
}

.messages-card-header {
  width: 30%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
}

.messages-card {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.messages-header {
  margin-top: 10px;
}

.messages-card-text {
  margin: 10px;
}

.messages-card-div {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 50px;
}

.new-message-btn::part(base) {
  background-color: #FFF4E1;
}

.messages-btn {
  display: flex;
  justify-content: right;
}

/* HOME VIEW ---------------------------------------------------------------------------------------------------- */
.feather-img {
  width: auto;
  height: 500px;
}

.feather-img-div{
  display: flex;
  justify-content: right;
}

.home-title {
  margin: 50px;
  font-size: 2.5em;
}

.floral-img-3 {
  width: auto;
  height: 350px;
}

.featured-card {
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.for-you-content {
  background-color: #F7F5F0;
  width: auto;
  height: auto;
  margin-top: 40px;
}

.new-post-content {
  background-color: #F7F5F0;
  width: auto;
  height: auto;
  margin-top: 40px;
}

.continue-reading-content {
  width: auto;
  height: auto;
  margin-top: 40px;
}

.featured-h2 {
  padding-top: 20px;
  padding-left: 20px;
}

/* READ  ------------------------------------------------------------------------------------------------------- */
.read-title .read-title-2 {
  
}

.lorem {
  text-align: center;
  width: 70%;
  justify-content: center;
  margin: 10px;
}

// RESPONSIVE - MOBILE -----------------------------------------------------------------------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }
}